body {
  background: rgb(97, 97, 97);
  background: linear-gradient(
    90deg,
    rgba(97, 97, 97, 1) 0%,
    rgba(164, 164, 164, 1) 52%,
    rgba(91, 91, 91, 1) 100%
  );
}
img {
  height: 50px;
  width: 50px;
}
input:focus:invalid {
  border: 2px solid red;
}
